---
import Layout from '../layouts/layout.astro';
---

<Layout>
    <main>
        <section class="content">
            <h1>Thanks for subscribing!</h1>
            <p>
                A confirmation email has been sent to 123@123.pl.
                Please open it and click the button inside to confirm your subscription.
            </p>
            <button>Dismiss message</button>
        </section>
    </main>
</Layout>